.contentContainer {
  height: 80%;
}

.cardContainer {
  height: 65vh;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: nowrap;
}

::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 768px) {

  .contentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
    width: 80%;
  }
}