.contentContainer {
  height: 100%;
}

h3 {
  font-size: 21px;
  margin: 10px 0;
}

.pfpContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.pfp {
  height: 60vh;
  filter: brightness(70%);
  border: solid rgba(0, 0, 0, 0.4) 2px;
  border-radius: 5px;
}
