.contentContainer {
  height: 100%;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5em;
  height: 85%;
}

h2 {
  font-size: x-large;
  text-align: left;
  margin: 10px 0;
  width: 100%;
}

.icons {
  color: black;
  height: 7em;
  width: 7em;
}

.icons:hover {
  color: rgba(245, 245, 245, 0.4);
}

@media only screen and (min-width: 768px) {

  h2 {
    font-size: xx-large;
  }

  .icons {
    height: 9em;
    width: 9em;
  }
}

@media only screen and (min-width: 1024px) {

  .iconContainer {
    flex-direction: row;
    gap: 10em;
  }

  .icons {
    height: 12em;
    width: 12em;
  }
}