nav {
  height: 20%;
}

ul {
  font-family: 'Advent Pro', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
  list-style: none;
  padding: 0;
  margin-bottom: 5px;
}

button {
  font-family: inherit;
  font-size: 20px;
  font-weight: 600;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  padding: 5px;
  color: rgba(245, 245, 245, 0.6);
  background-color: rgba(10, 10, 10, 0.2);
}

button:hover {
  color: rgba(10, 10, 10, 0.6);
  background-color: transparent;
}

.resumeLink {
  text-align: center;
  margin: 10px 0 0 0;
  font-size: 20px;
}

.resumeLink > a {
  color: rgba(245, 245, 245, 0.6);
  background-color: rgba(10, 10, 10, 0.2);
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
}

.resumeLink > a:hover {
  color: rgba(10, 10, 10, 0.6);
  background-color: transparent;
}

@media only screen and (min-width: 1024px) {

  ul {
    gap: 4em;
  }

  button {
    font-size: 24px;
  }

  .resumeLink {
    margin: 20px 0 0 0;
    font-size: 24px;
  }
}