nav {
  height: 15%;
}

ul {
  font-family: 'Advent Pro', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
  list-style: none;
  padding: 0;
  margin-bottom: 5px;
}

button {
  font-family: inherit;
  font-size: larger;
  font-weight: 600;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  padding: 5px;
}

button:hover {
  color: rgba(245, 245, 245, 0.6);
  background-color: rgba(10, 10, 10, 0.2);
}

.resumeLink {
  text-align: center;
  margin: 5px 0 0 0;
}

.resumeLink > a {
  text-decoration: none;
  color: black;
  padding: 5px;
  border-radius: 10px;
}

.resumeLink > a:hover {
  color: rgba(245, 245, 245, 0.6);
  background-color: rgba(10, 10, 10, 0.2);
}