html {
  background: url('./assets/portfolio-background.jpg');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  font-family: 'Advent Pro', sans-serif;
  background-color: rgba(245, 245, 245, 0.2);
  margin: 10px;
  min-height: 97vh;
}

#root {
  padding: 10px;
}